<html>
<head>
	<title>Times and Dates</title>
	<link href="stylesheets/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<h1>Times</h1>
    <form method="post" action="/output2">
		<center>
		<table>
			<tr><td>Time 1:</td><td><input type="time" name="time1" id="time1"/></td></tr>
			<tr><td>Time 2:</td><td><input type="time" name="time2" id="time2"/></td></tr>
		</table>
		</center>
		<center>
		<table>
		<tr><td>Date 1:</td><td><input type="date" name="date1" id="date1"/></td></tr>
		<tr><td>Date 2:</td><td><input type="date" name="date2" id="date2"/></td></tr>
		<tr><td></td><td><input type="submit" value="Submit"/></td>
		</table>
		</center>
    </form>
</body>
</html>